
.dockerignore
.DS_Store
.git
.github
.gitignore
.gitmodules
.idea
.jekyll-metadata
.sass-cache
app/tests
_site
CONTRIBUTING.md
Dockerfile
Dockerfile.archive
docker-compose.yml
Gemfile
Gemfile.lock
_website*.json
.vscode
.venv
app/data/
app/training_notebook.ipynb